<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tracking
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
        <div style="height: 80%;width: 100%" id="map_canvas"></div>

    <div style="height: 20%;width: 100%; " id="under_map">
        <ion-item>
            <ion-label style=" text-align: center;">Status: </ion-label>
            <ion-label style=" text-align: center;">Duration </ion-label>
            <ion-label style=" text-align: center;"> Distance </ion-label>
            <ion-label style=" text-align: center;"> Speed    </ion-label>
        </ion-item>

        <ion-item >
            <ion-label style=" text-align: center; ">
                <ion-button style="width: 50px; text-align: center;" size="small" color="success"   *ngIf="!isTracking" (click)="startTracking()">START</ion-button>
                <ion-button style="width: 50px; text-align: center;"  size="small" color="danger"   *ngIf="isTracking" (click)="stopTracking()"> STOP </ion-button>
            </ion-label>
            <ion-label style=" text-align: center; ">{{duration}}</ion-label>
            <ion-label style=" text-align: center; ">{{distance}} <br> [km]</ion-label>
            <ion-label style=" text-align: center; ">{{speed}} <br> [km/h]</ion-label>
        </ion-item>
    </div>
</ion-content>
