<ion-header>
    <ion-toolbar>
        <ion-title>
            Training plans
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    Insert number of kms and select period of time in which you want to reach them.
    <form (ngSubmit)="createPlan()">
        <ion-item lines="full">
            <ion-label position="floating">Kms</ion-label>
            <ion-input name="inputValue" type="number" value="0" [(ngModel)]="planValue"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Period of time</ion-label>
            <ion-select name="selectPeriod" value="day" okText="Okay" cancelText="Cancel" [(ngModel)]="planPeriod">
                <ion-select-option value="day">day</ion-select-option>
                <ion-select-option value="week">week</ion-select-option>
                <ion-select-option value="month">month</ion-select-option>
                <ion-select-option value="year"s>year</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button expand="full" type="submit">Create a plan</ion-button>
    </form>
    <div class="ion-text-center">
        <h3>Your plans: </h3>
    </div>
    <ion-icon class="star" color="primary" name="star"></ion-icon>
    <ion-icon class="star" color="secondary" name="star"></ion-icon>

</ion-content>
