<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            LIST OF HISTORY <ion-icon name="bicycle"></ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-card>
        <ion-item>
            <ion-label>
                <div class="history_div"> nr trasy </div>
                <div class="history_div"> autor</div>
                <div class="history_div"> data: </div>
                <div class="history_div"> time:  </div>
                <div class="history_div"> distance: </div>
            </ion-label>
        </ion-item>
            <ion-item href="tabs/tab1" >
                <ion-label>
                    <div class="history_div">
                        <div class="double_history"><ion-icon name="bicycle"></ion-icon></div>
                        <div class="double_history">1</div>
                    </div>
                    <div class="history_div">    Krzysztof  </div>
                    <div class="history_div">   21.03.2020 </div>
                    <div class="history_div">
                        <div class="double_history">12:15</div>
                        <div class="double_history">13:45</div>
                    </div>
                    <div class="history_div">   10m </div>
                </ion-label>
            </ion-item>
        <ion-item href="tabs/tab1" >
            <ion-label>
                <div class="history_div">
                    <div class="double_history"><ion-icon name="bicycle"></ion-icon></div>
                    <div class="double_history">1</div>
                </div>
                <div class="history_div">    Patryk  </div>
                <div class="history_div">   21.03.2020 </div>
                <div class="history_div">
                    <div class="double_history">15:15</div>
                    <div class="double_history">17:25</div>
                </div>
                <div class="history_div">   20km </div>
            </ion-label>
        </ion-item>
        <ion-item href="tabs/tab1" >
            <ion-label>
                <div class="history_div">
                    <div class="double_history"><ion-icon name="bicycle"></ion-icon></div>
                    <div class="double_history">1</div>
                </div>
                <div class="history_div">    Jakub  </div>
                <div class="history_div">   21.03.2020 </div>
                <div class="history_div">
                    <div class="double_history">11:15</div>
                    <div class="double_history">12:15</div>
                </div>
                <div class="history_div">   5km </div>
            </ion-label>
        </ion-item>
    </ion-card>
</ion-content>
