<ion-header>
  <ion-toolbar>
    <ion-button *ngIf="showMap" fill="clear" strong="true" color="dark" (click)="hideShow()">
      <ion-icon name="arrow-back-sharp"></ion-icon>
      Go Back
    </ion-button>
    <ion-title *ngIf="!showMap">
      History
    </ion-title>
  </ion-toolbar>
</ion-header>





<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="!showMap">
    <ion-item>
      <div class="history_div_shorter history_color_one">  </div>
      <div class="history_div_longer history_color_two"> date </div>
      <div class="history_div history_color_one"> duration</div>
      <div class="history_div history_color_two"> distans </div>
      <div class="history_div history_color_one"> speed </div>
    </ion-item>

    <ion-item *ngFor="let i of history" button (click)="showHistoricalTrace(i)">
      <div class="history_div_shorter">
        <ion-icon name="bicycle"></ion-icon>
      </div>
      <div class="history_div_longer">{{i['DATE']}}   </div>
      <div class="history_div">  {{i['DURATION']}}    </div>
      <div class="history_div">  {{i['DISTANCE']}}   </div>
      <div class="history_div"> {{getAvgSpeed(i['DURATION'],i['DISTANCE'])}}   </div>
    </ion-item>
  </ion-list>
  <ion-content *ngIf="showMap">
    <ion-buttons (click)="hideShow()">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div style="height: 60%;width: 100%" id="map_canvas"></div>

    <ion-buttons>

        <ion-button size="small" (click)="shareStats(1,temp['DATE'],temp['DURATION'],temp['DISTANCE'])">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>

        <ion-button size="small" (click)="shareStats(2,temp['DATE'],temp['DURATION'],temp['DISTANCE'])">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>

        <ion-button size="small" (click)="shareStats(3,temp['DATE'],temp['DURATION'],temp['DISTANCE'])">
          <ion-icon name="share-social-sharp"></ion-icon>
        </ion-button>

    </ion-buttons>
    <ion-list>
      <ion-item>Date: {{temp['DATE']}}</ion-item>
      <ion-item>Duration: {{temp['DURATION']}}</ion-item>
      <ion-item>Distance: {{temp['DISTANCE']}}</ion-item>
      <ion-item>Speed: {{getAvgSpeed(temp['DURATION'],temp['DISTANCE'])}}</ion-item>
    </ion-list>
  </ion-content>
</ion-content>
